<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="PCAPredict_Tag::Settings" 
            title="PCA Predict Settings" 
            module="PCAPredict_Tag" 
            sortOrder="100"
            parent="Magento_Backend::other_settings" 
            action="tag/settings" 
            resource="PCAPredict_Tag::Settings"/>
    </menu>
</config>