<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="pca_settings" translate="label" sortOrder="1000">
			<label>PCA Predict</label>
		</tab>
		<section id="pca_settings_section" translate="label" sortOrder="1000" showInDefault="1" showInWebsite="1" showInStore="1">
			<label>Settings</label>
			<tab>pca_settings</tab>
			<resource>PCAPredict_Tag::configuration</resource>
			<group id="settings" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>PCA Predict Settings</label>
                <comment><![CDATA[<div style="margin-bottom:10px;">Create an account at <a href="http://go.postcodeanywhere.com/l/52622/2016-03-15/b2zj6t" target="_blank" style="margin-left:0;">PCApredict.com</a></div>]]></comment>
				<field id="account_code" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Account Code: </label>
                    <comment><![CDATA[Your PCA Predict Account Code]]></comment>
				</field>
                <field id="field_mappings" translate="label" type="textarea" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Field Mappings: </label>
                    <comment><![CDATA[Do not make changes to the Field Mappings configuration unless advised by PCA Predict or your developer]]></comment>
				</field>
				<field id="custom_javascript" translate="label" type="textarea" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Custom JavaScript: </label>
					<comment><![CDATA[Use this section for custom JavaScript as provided, or advised, by PCA Predict]]></comment>
				</field>
			</group>
		</section>
	</system>
</config>